@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ELTP Case Study</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/site")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/jquery")

</head>
<body>
    @*test*@

    <div class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
        <div class="navbar-header">
            @Html.ActionLink("ELTP CaseStudy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="~/Movies/Movies" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies</a>
                    @if (Session["CurrentUserName"] != null)
                    {
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-item dropdown-item" href="~/Movies/Movies">View Movies</a>
                    <a class="nav-item dropdown-item" href="~/Movies/AddMovie">Add Movie</a>
                </div>
                    }
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/home/about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/home/contact">Contact</a>
                </li>

                @if (Session["CurrentUserName"] != null)
                {
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/images/User.png" style="width:20px" />
                            @*new code here*@
                            @Session["CurrentUserName"]
                        </a>
                        <div class="dropdown-menu bg-info bg-light" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-item dropdown-item" href="/account/logout">Logout</a>
                            <a class="nav-item dropdown-item" href="/account/changeprofile">Change Profile</a>
                            <a class="nav-item dropdown-item" href="/account/changepassword">Change Password</a>
                        </div>
                    </li>
                }

            </ul>
        </div>
        @if (Session["CurrentUserName"] == null)
        {
            <div class="nav-item login_btn">
                <a class="nav-link" href="/account/login">Login</a>
            </div>
            <div class="nav-item register_btn">
                <a class="nav-link" href="/account/register">Register</a>
            </div>
        }


    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div id="BlankHeight"></div>
    <footer class="footer">
        <div class="container foo">
            <p>&copy; @DateTime.Now.Year - ELTP Case Study</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

        $("dropdown").on('click', function () {

            $('.dropdown-toggle').show();
            //$("dropdown").on('')

        });


    </script>
    

</body>

</html>
