@model List<ELTPViewModel.MovieViewModel>
@{

    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/site")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/jquery")
</head>
<body>
    <h2>Movies List</h2>

    <table class="table table-bordered table-condensed table-hover">
        <tr>
            <th>
                Movie
            </th>
            <th>
                Movie Released
            </th>
            <th>
                Movie Release Date
            </th>
            <th>
                Movie Genre
            </th>
            <th>
                Movie Description
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td class="movieName">
            @Html.DisplayFor(modelItem => item.MovieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieGenre)
        </td>
        <td class="movieDesc">

            @Html.DisplayFor(modelItem => item.MovieDescription)
            <button class="btnRead">Read More...</button>
        </td>
        @if (Session["CurrentUserName"] != null)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieID })
                @Html.HiddenFor(modelItem => item.MovieID)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
                @Html.HiddenFor(modelItem => item.MovieID)
            </td>
            @*<td>
                <button class="btn btn-info editbutton" href="/Movies/EditMovies">Edit</button>
                <button class="btn btn-info deletebutton">Delete</button>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieID })
                <button class="btn btn-info deletebutton">Delete</button>
            </td>*@
        }
    </tr>
        }
    </table>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>

        $(".btnRead").on('click', function() {
            $('hr.btnRead').removeClass("MovieDesc");
            $(this).val("Read Less");
        });

        //$(".btnRead").on('click', function () {

        //});

    </script>
</body>


@*<div class="row">
        <div class="col-sm-12">
            <table class="table">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieReleased)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieGenre)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.MovieDescription)
                        </th>
                        <td>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>*@